#App {
  max-width: 100vw;
  overflow-x: hidden;
}

#Nav button:hover > span {
  color: #949494 !important;
}

#Nav button:hover {
  background: transparent !important;
}

#container {
  position: relative;
  /* margin-top: 12vh;
  box-shadow: 0px 0px 14px 1px #00000047;
  z-index: 12;
  border-bottom-left-radius: 22px; */
}

.round {
  border-radius: 100px;
}

.notification-label {
  padding: 3.5px;
  width: 14px;
  height: 14px;
  position: relative;
  transform: translate3d(-9px, -7px, 0px);
}

.bp3-popover-arrow svg path {
  fill: #101010 !important;
}

.bp3-menu {
  margin: 0;
  border-radius: 3px;
  background: #101010;
}

.bp3-button.bp3-minimal:active, .bp3-button.bp3-minimal.bp3-active {
  box-shadow: none;
  background: transparent;
}

.bp3-popover .bp3-popover-content {
  background: transparent;
  color: inherit;
}
.bp3-menu-item.bp3-active, .bp3-menu-item:active {
  background-color: transparent;
}

.bp3-menu-item:hover, .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-menu-item {
  background-color: transparent;
}

a:focus {
  outline: none;
  outline-offset: -2px;
  text-decoration: none;
}

.bp3-menu-item:hover, .bp3-submenu .bp3-popover-target.bp3-popover-open > .bp3-menu-item {
  color: rgba(255, 255, 255, 0.6);
}

.bp3-button .bp3-icon, .bp3-button .bp3-icon-standard, .bp3-button .bp3-icon-large {
  color: #2b2b2b !important;
}

text, tspan {
  font-family: 'Exo 2' !important;  
  fill: #353535 !important;
  font-weight: 500 !important;
}

.chart-wrapper {
  
  margin-left: 80px;
  max-width: 100%;
    overflow-x: hidden;
}

div#container {
  margin-left: 80px !important;
}

.mv-slider {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 80px !important;  
}

.mv-slider .bp3-slider, .offsetY-slider .bp3-slider {
  height: calc(100vh - 210px) !important;
}

.mv-slider > div > div {
  left: -0.9rem;
  width: 100%;
    min-width: 40px;
    height: 100% !important;
}

.mv-slider .bp3-slider-handle,.offsetY-slider .bp3-slider-handle {
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 1px 2px rgba(16, 22, 26, 0.2);
  background-color: #323233;
  background-image: none;
  box-shadow: 0 0 18px 0px rgba(0, 0, 0, 0.23), 0 0px 13px 3px rgba(0, 0, 0, 0.05);
  cursor: -webkit-grabbing;
  cursor: grabbing;
  height: 80px;
  width: 30px;
  border-radius: 5px;
  left: -0.85rem;
  border: 0px solid #009688;
  transform: translate3d(0px, 30px, 0px);
}
.shift-slider .bp3-slider-handle {
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 1px 2px rgba(16, 22, 26, 0.2);
  background-color: #323233;
  background-image: none;
  box-shadow: 0 0 18px 0px rgba(0, 0, 0, 0.23), 0 0px 13px 3px rgba(0, 0, 0, 0.05);
  cursor: -webkit-grabbing;
  cursor: grabbing;
  width: 80px;
  height: 30px;
  border-radius: 5px;  
  border: 0px solid #009688;
  top: -7px;  
  transform: translate3d(-27px, 0px, 0px);
}
.shift-slider, .mv-slider, .offsetY-slider {
  background: #323233 !important;
}

.bp3-slider-axis {
  display: none !important;
}
.bp3-button .bp3-icon, .bp3-button .bp3-icon-standard, .bp3-button .bp3-icon-large {
  color: #adadad !important;
}
.mv-slider span.bp3-slider-label, .offsetY-slider span.bp3-slider-label {
  position: absolute;
  top: 33px;
  left: -21px;
  background: transparent;
  box-shadow: none;
  color: #ffffff;
  font-weight: bold;
  font-family: "Exo 2";
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

.shift-slider span.bp3-slider-label {
  position: absolute;
  top: -16px;
  left: 30px;
  background: transparent;
  box-shadow: none;
  color: #797979;
  font-weight: 500;
  font-family: "Exo 2";
  font-size: 1.2rem;
}

.offsetY-slider {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: 80px !important;  
}

.offsetY-slider > div > div {
  left: -0.9rem;
  width: 100%;
    min-width: 40px;
    height: 100% !important;
}

.chart-wrapper .bp3-slider-progress.bp3-intent-primary {
  background-color: #252525;
}

.chart-wrapper .bp3-slider-progress {
  background: rgba(0, 0, 0, 0.06);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
