.notifications-list-wrapper {
    max-height: 400px;
    overflow: auto;
}

.notifications-list-wrapper .warning {
    background: transparent;
    border-left: 5px solid #daa613;
}

.notifications-list-wrapper .info {
    background: transparent;
    border-left: 5px solid #bdbd7f;
}

.notifications-list-wrapper .danger {
    background: transparent;
    border-left: 5px solid #cc3a3a;
}

.notifications-list-wrapper .primary {
    /* background: #43a96e; */
    background: transparent;
    border-left: 5px solid #7ab736;;
}